.profile {
     background-color: #191919;
     min-height: 100vh;
     padding: 50px 150px;
}

.profile-details {
    display: flex;
    font-family: 'Roboto', Courier, monospace;
    color: var(--main-text-color);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 400px;
    padding: 20px;

}

.story-profile {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.follow-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.follow-btn:hover {
    background-color: #0056b3;
}
 
.user-email {
    font-size: 12px;
    color: var(--sub-text-color);
}

.prof-nav {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.prof-nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
    color: var(--main-text-color);
}

.prof-nav-item {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-text-color);
    display: flex;
    gap: 10px;
}

.video-thumbnail {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.follow-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #007bff; /* Blue background */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.follow-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
