@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../src/css/Home/homePage.css");
@import url("../src/css/Story/story.css");

* {
  --main-bg: #000000;
  --main-text-color: #f5f5f5;
  --sub-text-color: #9c9c9c;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 2rem;
}
