#container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  overflow-x: hidden;
}

#courseForm {
  width: 700px;
  background-color: #1e1e1e;
  padding: 1rem;
  color: white;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#courseForm::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#heading {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #f3f4f6;
}

#imageRow {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#image1 {
  height: 180px;
  width: 400px;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
  background-color: #2d3a4e;
  object-fit: cover;
}

#image2 {
  height: 180px;
  width: 270px;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
  background-color: #2d3a4e;
  object-fit: cover;
}

#courseTitle,
#courseDescription,
#contentInput {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #333333;
  border: none;
  padding: 0.75rem;
  border-radius: 0.375rem;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.75rem;
}

#courseTitle:focus,
#courseDescription:focus,
#contentInput:focus {
  border: 2px solid #8b5cf6;
  outline: none;
}

#courseDescription {
  height: 120px;
  resize: none;
}

#contentRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#addButton {
  background-color: #333333;
  color: #facc15;
  font-weight: 800;
  height: 40px;
  width: 100px;
  font-size: 1.125rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

#addButton:hover {
  background-color: #f59e0b;
  color: #1e3a8a;
}

#publishButton {
  margin-top: 1rem;
  width: 100%;
  background-color: #8b5cf6;
  padding: 0.8rem;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 0.375rem;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#publishButton:hover {
  background-color: #7e3af2;
}

.error {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 0.75rem;
}

#contentRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-c-btn,
.add-i-btn {
  background-color: #333333;
  color: #facc15;
  font-size: 1rem;
  height: 36px;
  width: 140px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 0.2s;
}

.add-c-btn:hover,
.add-i-btn:hover {
  background-color: #444444;
}
