.home-container {
    background-color: var(--main-bg);
    display: flex;
    gap: 30px;
}

.main-nav {
    background-color: var(--main-bg);
    padding: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #1A1A1A;
    width: fit-content;
    position: sticky;
    top: 0; 
    z-index: 100; 
}


.nav-items {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.nav-item {
    color: var(--main-text-color);
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    gap: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #1A1A1A;
}

.nav-actions {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  
  .nav-actions .log-out,
  .nav-actions .log-in {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #262626; 
    color: #f5f5f5;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .nav-actions .log-out:hover,
  .nav-actions .log-in:hover {
    background-color: #333333;
    transform: scale(1.05);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    z-index: 10;
    width: 200px;
}

.dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu li:hover {
    background-color: #1e1e1e;
}
